* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: rgb(255, 255, 255);
  --main-color: rgb(199, 53, 53);
}
.container{
  display: flex;
  height: 100vh;
}
#left-section{
  width: 40vw;
  background-color: var(--main-color);
}
#right-section {
    background-image: url("Library.jpeg");
    height: 100vh;
    width: 60vw;
}








